.abs {
  position: absolute;
  left: 0;
}

.abs video {
  position: absolute;
  left: 0;
}

.start-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  text-align: left;
  height: 100%;
  color: white;
}

.detection-background {
  background-color: black;
  border-radius: 1em;
}
